
<section ng-controller="HomeController">  
 
<br/>
    
   <div id="page-wrapper" class="bg1">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="box box1">
                        <a ui-sref="mains.emergencia">
                            <img src="/modules/mains/client/img/box1.png" class="responsive">
                        </a>
                        <h4>Emergencias</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis leo a lectus malesuada, at ultricies est molestie. Etiam semper fringilla porta. Sed lacus risus, volutpat id molestie ut, placerat in orci. Cras laoreet dictum mi, dignissim lobortis ipsum porttitor sit amet.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box2">
                        <a ui-sref="mains.citas">
                            <img src="/modules/mains/client/img/box2.png" class="responsive">
                        </a>
                        <h4>Mis citas virtuales</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis leo a lectus malesuada, at ultricies est molestie. Etiam semper fringilla porta. Sed lacus risus, volutpat id molestie ut, placerat in orci. Cras laoreet dictum mi, dignissim lobortis ipsum porttitor sit amet.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box3">
                        <a ui-sref="mains.informacion">
                            <img src="/modules/mains/client/img/box3.png" class="responsive">
                        </a>
                        <h4>Mi información</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis leo a lectus malesuada, at ultricies est molestie. Etiam semper fringilla porta. Sed lacus risus, volutpat id molestie ut, placerat in orci. Cras laoreet dictum mi, dignissim lobortis ipsum porttitor sit amet.</p>
                    </div>
                </div>                                
            </div>
            <!-- ... Your content goes here ... -->
        </div>
    </div>

</div>
</section>
