    <main id="main-section">     
      <nav class="open" id="main-menu" style="padding-top: 15px">
        <ul>
          <li class="header text-center">MENÚ</li>
          <li><a ui-sref="mains.informacion"><img src="/modules/mains/client/img/TelHealth_14.png"><span>Datos generales</span></a></li>
          <li><a ui-sref="mains.tarjeta"><img src="/modules/mains/client/img/TelHealth_27.png"><span>Registrar Tarjeta</span></a></li>
          <li class="active"><a ui-sref="mains.alergia"><img src="/modules/mains/client/img/TelHealth_33.png"><span>Alergias</span></a></li>
          <li><a ui-sref="mains.habitos"><img src="/modules/mains/client/img/TelHealth_35.png"><span>Hábitos</span></a></li>
          <li><a ui-sref="mains.enfermedades"><img src="/modules/mains/client/img/TelHealth_37.png"><span>Enfermedades Pre existentes</span></a></li>
          <li><a ui-sref="mains.tratamientos"><img src="/modules/mains/client/img/TelHealth_39.png"><span>Tratamientos actuales</span></a></li>
          <li><a ui-sref="mains.operaciones"><img src="/modules/mains/client/img/TelHealth_41.png"><span>Operaciones realizadas</span></a></li>
          <li><a ui-sref="mains.historial"><img src="/modules/mains/client/img/TelHealth_43.png"><span>Historia familiar</span></a></li>
        </ul>
      </nav>
        <div id="content-box">
            <br/>
        <div class="container-fluid">
          <div id="breadcrumb">
            <ol class="breadcrumb">
              <li><a ui-sref="home">Inicio</a></li>
              <li><span>Alergias</span></li>
            </ol>
          </div>
          <div id="content">
            <div id="informacion-alergias">
              <div class="text-center">
                <ul class="list-inline" id="list-links">
                  <li><a ui-sref="mains.emergencia"><img src="/modules/mains/client/img/TelHealth_18.png"><span>EMERGENCIAS</span></a></li>
                  <li><a ui-sref="mains.citas"><img src="/modules/mains/client/img/TelHealth_20.png"><span>MIS CITAS VIRTUALES</span></a></li>
                  <li class="active"><a href="mi-informacion-datos-generales.html"><img src="/modules/mains/client/img/TelHealth_22.png"><span>MI INFORMACIÓN</span></a></li>
                </ul>
              </div>
              <h2 class="title"><img src="/modules/mains/client/img/TelHealth_30.png"><span>LISTA DE ALERGIAS</span></h2>
              <div class="table-responsive">
                <table class="table table-bordered table-condensed table-striped">
                  <thead>
                    <tr>
                      <th>TIPO DE ALEGIA</th>
                      <th>SINTOMAS</th>
                      <th>TRATAMIENTO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ampollas</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                    </tr>
                    <tr>
                      <td>Ampollas</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                    </tr>
                    <tr>
                      <td>Ampollas</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                    </tr>
                    <tr>
                      <td>Ampollas</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                      <td>Lorem ipsum dolor sit amet, his ne</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-right">
                <!--<button class="btn btn-danger" data-toggle="modal" data-target="#modal-actualizar-informacion">Mostrar modal<i class="fa fa-chevron-right"></i></button>-->
                <button class="btn btn-danger">Agregar más<i class="fa fa-chevron-right"></i></button>
              </div>
            </div>
            <div class="modal fade" id="modal-actualizar-informacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="z-index: 3">
                  <div class="modal-body">
                    <div class="text-center">
                      <h2><img src="/modules/mains/client/img/TelHealth_46.png"></h2>
                      <p style="font-size:18px;margin-bottom:46px">RECUERDA ACTUALIZAR <strong style="color:#0e7fbb">TU INFORMACIÓN</strong> <br><strong style="color:#787d82">DE ESA MANERA BRINDARTE </strong><br><strong style="color:#cd375f">UN MEJOR SERVICIO</strong></p>
                    </div>
                    <div class="clearfix">
                      <button class="left btn btn-danger" type="button" style="text-align:left !important"><span>Actualizar <br>mi información</span><i class="fa fa-chevron-right"></i></button>
                      <button class="right btn btn-primary" data-dismiss="modal" ype="button" style="height:auto;line-height:40px"><span>Cerrar</span><i class="fa fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>