<section>
     <div id="page-wrapper" class="bg2">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Inicio</a></li>
                        <li><strong>Mis Citas Virtuales</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel">
                    <ul class="nav nav-tabs" style="padding-left: 30%">
                      <li><a class="tab1" ui-sref="mains.emergencia">Emergencias</a></li>
                      <li class="active"><a class="tab2" href="#q2">Mis citas virtuales</a></li>
                      <li><a class="tab3" ui-sref="mains.informacion">Mi Información</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="q1" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <img src="/modules/mains/client/img/tab1.png" class="img-responsive">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                      </div>
                      <div id="q2" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <img src="/modules/mains/client/img/tab2.png" class="img-responsive" style="position: absolute; z-index: 1">
                                <a ui-sref="mains.editarPopup"><img src="/modules/mains/client/img/btnConectar.png" style="position: absolute; z-index: 2; left: 728px; top: 137px"></a>
                                <a ui-sref="mains.editarPopup"><img src="/modules/mains/client/img/btnConectar.png" style="position: absolute; z-index: 2; left: 728px; top: 169px"></a>
                                <div class="pull-right" style="padding-top: 300px">
                                    <a ui-sref="mains.editarCita"><img src="/modules/mains/client/img/btn4.png" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-md-1"></div>                        
                        </div>
                      </div>
                      <div id="q3" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <img src="/modules/mains/client/img/tab3.png" class="img-responsive">
                            </div>
                            <div class="col-md-1"></div>                          
                        </div>
                      </div>
                    </div>                        
                    </div>

                </div>
            </div>
            <!-- ... Your content goes here ... -->

        </div>
    </div>
</section>