<section>
  <div class="container">
    <div class="page-header">
      <h1>{{vm.tarjeta._id ? 'Edit Tarjeta' : 'New Tarjeta'}}</h1>
    </div>
    <div class="col-md-12">
      <form name="vm.form.tarjetaForm" class="form-horizontal" ng-submit="vm.save(vm.form.tarjetaForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Tarjeta</label>
            <input name="name" type="text" ng-model="vm.tarjeta.nombre" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.tarjetaForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tarjeta name is required.</p>
            </div>
          </div>
          <hr/>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Número de Tarjeta</label>
            <input name="name" type="text" ng-model="vm.tarjeta.nrotarjeta" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.tarjetaForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tarjeta name is required.</p>
            </div>
          </div>
          <hr/>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Código de seguridad</label>
            <input name="name" type="text" ng-model="vm.tarjeta.codseguridad" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.tarjetaForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tarjeta name is required.</p>
            </div>
          </div>
          <hr/>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Mes de Expiración</label>
            <input name="name" type="text" ng-model="vm.tarjeta.mesexpiracion" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.tarjetaForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tarjeta name is required.</p>
            </div>
          </div>
          <hr/>
          <div class="form-group" show-errors>
            <label class="control-label" for="name">Año de expiración</label>
            <input name="name" type="text" ng-model="vm.tarjeta.anioexpiracion" id="name" class="form-control" placeholder="Name" required>
            <div ng-messages="vm.form.tarjetaForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Tarjeta name is required.</p>
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <button type="submit" class="btn btn-info">{{vm.tarjeta._id ? 'Update' : 'Create'}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>