<section>
        <div class="container">
        <div class="page-header">
          <h1 ng-bind="vm.tarjeta.nombre"></h1>
        </div>
        <div class="pull-right"
             ng-show="vm.tarjeta.isCurrentUserOwner">
          <a class="btn btn-primary"
             ui-sref="tarjetas.edit({ tarjetaId: vm.tarjeta._id })">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
        <small>
          <em class="text-muted">
            Created on
            <span ng-bind="vm.tarjeta.nombre "></span>
            by
            <span ng-if="vm.tarjeta.user"
                  ng-bind="vm.tarjeta.user.displayName"></span>
            <span ng-if="!vm.tarjeta.user">Deleted User</span>
          </em>
        </small>
       <!-- <p class="lead" ng-bind="vm.tarjeta.nombre"></p>-->
        </div>
      </section>