<section>
  <div class="container">
  <div class="right" style="padding-top:50px">
  <input class="btn btn-info right" type="button" value="Nuevo" ui-sref="specialties.create"/>
  </div>
  <div class="page-header">
    <h1>Specialties</h1>    
  </div>
  <div class="list-group">
    <a ng-repeat="specialty in vm.specialties"
       ui-sref="specialties.view({ specialtyId: specialty._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Created on
        <span ng-bind="specialty.created | date:'mediumDate'"></span>
        by
        <span ng-if="specialty.user" ng-bind="specialty.user.displayName"></span>
        <span ng-if="!specialty.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="specialty.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.specialties.$resolved && !vm.specialties.length">
    No Specialties yet, why don't you <a ui-sref="specialties.create">create one</a>?
  </div>
  </div>
</section>
