<section>
  <div class="container">
  <div class="page-header">
    <h1 ng-bind="vm.specialty.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.specialty.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="specialties.edit({ specialtyId: vm.specialty._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.specialty.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.specialty.user"
            ng-bind="vm.specialty.user.displayName"></span>
      <span ng-if="!vm.specialty.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.specialty.content"></p>
  </div>
</section>
