<section class="row" ng-controller="DoctorController" ng-init="listarMeeting();">
  
<input type="button" ng-click="getLastMeeting();" id="btn_ultimo" hidden/>
<input type="button" ng-click="listarMeeting();" id="btn_listar" hidden/>
<h2>Reunión pendiente</h2>
<br/>
<br/>
<table class="table">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Fecha</th>
        <th>Paciente</th>
        <th>DNI</th>
        <th>Meeting</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{lastMeeting.topic}}</td>
        <td>{{lastMeeting.created | date: "dd/MM/yyyy h:mma" }}</td>
        <td>{{lastMeeting.paciente}}</td>
        <td>{{lastMeeting.dni}}</td>
        <td>{{lastMeeting.idMeeting}}</td>
        <td style="text-align:center"><input type="button" class="btn btn-success" ng-click="getMeeting(lastMeeting.idMeeting)" ng-show="flagEmpezar" value="Empezar"/>&nbsp;<input type="button" class="btn btn-success" ng-click="endMeeting(lastMeeting)" ng-show="flagEmpezar" value="Terminar"/></td>       
      </tr>    
    </tbody>
  </table>
</section>
 <span ng-show="emptyMeeting" style="padding-top: 0"><h3>No hay reuniones pendientes<h3></span> 
<p id="jsonMst"></p>

<p id="errMsg"></p>
<iframe name="theFrame" hidden></iframe>

</section>
